@model Fitnesspoint.Models.WeightLogModel

@{
    ViewBag.Title = "addWeightLog";

}

<h2 style="color:antiquewhite;text-align:center">Add Weight</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @*<h4>WeightLogModel</h4>*@

        <hr />
        @Html.ValidationSummary(true, "", new { @style = "color:antiquewhite" })
        <div class="form-group">
            @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:antiquewhite;font-weight:900;font-size:larger" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Weight, "", new { @style = "color:antiquewhite" })
            </div>
        </div>


        <div class="form-group">
            
            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:antiquewhite;font-weight:900;font-size:larger" })
            <div class="col-md-10">
                
                @Html.EditorFor(model => model.UserId,  new { htmlAttributes = new {  @class = "form-control",@Value=Session["Id"], @readonly = "readonly" } });;
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Weight" class="btn btn-primary lg" />
            </div>
        </div>
    </div>


}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
      
        window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}
<div>
    <p style="font-size:large;font-weight:900;text-align:right">@Html.ActionLink("Go to Weight Log", "ShowUserWeightLog", new { user_id = Session["Id"] })</p>
</div>
