@model Fitnesspoint.Models.WeightLogModel

@{
    ViewBag.Title = "showWeightLog";
}

<h2 style="color:antiquewhite">List Weight</h2>

<div>
    @*<h4>WeightLogModel</h4>*@
    <hr />
    @Html.HiddenFor(model => model.WeightId)
<div class="container-fluid" style="background-color:antiquewhite">
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
    
  </div>
    <p style="font-size:large;font-weight:900;text-align:left">
        @Html.ActionLink("Edit", "updateWeightLog", new { weight_id = Model.WeightId })
    </p>
    <p style="font-size:large;font-weight:900;text-align:right">
        &nbsp;&nbsp;
        @Html.ActionLink("Display All Weights", "showUserWeightLog", new { user_id = Session["Id"] })
    </p>
</div>

