@model IEnumerable<Fitnesspoint.Models.WeightLogModel>

@{
    ViewBag.Title = "showUserWeightLog";
}

<h2 style="color:antiquewhite; text-align:center"><b>User WeightLog</b></h2>

<p>
    @Html.ActionLink("Add Weight", "addWeightLog", null, new { @class = "btn btn-primary btn-lg" })
</p>

<hr />
<table class="table jumbotron" style="background-color:antiquewhite">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Created_At)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Updated_At)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Weight)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Created_At)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Updated_At)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserId)
    </td>
    <td>
        @Html.ActionLink("Edit", "updateWeightLog", new { weight_id = item.WeightId }, new { @class = "btn btn-primary lg btn-warning" })
        @Html.ActionLink("Details", "showWeightLog", new { weight_id = item.WeightId }, new { @class = "btn btn-primary lg btn-success" })
        @Html.ActionLink("Delete", "removeWeightLog", new { weight_id = item.WeightId }, new { @class = "btn btn-primary lg btn-danger" })
    </td>
</tr>
    }

</table>
