@model IEnumerable<Fitnesspoint.Models.WeightLogModel>

@{
    ViewBag.Title = "showUserWeightLog";
}

<h2 style="color:antiquewhite">Show All WeightLog</h2>

<p style="font-size:large;font-weight:900;text-align:left">
    @Html.ActionLink("Create New Weight", "addWeightLog")
</p>
<table class="table jumbotron" style="background-color:antiquewhite">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "updateWeightLog", new { weight_id = item.WeightId }, new { @class = "btn btn-primary lg btn-warning" })
                @Html.ActionLink("Details", "showWeightLog", new { weight_id = item.WeightId }, new { @class = "btn btn-primary lg btn-success" })
                @Html.ActionLink("Delete", "removeWeightLog", new { weight_id = item.WeightId }, new { @class = "btn btn-primary lg btn-danger" })
            </td>
        </tr>
    }

</table>
