@model Fitnesspoint.Db.UserDetail


@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_userLayout.cshtml";
    int id = (int)Session["Id"];
}


@if (User.Identity.IsAuthenticated)

{
    <h2 style="color:limegreen;font-weight:500">Welcome,@ViewData["Name"]</h2>
    <hr />


    <div class="container">
        <h4 style="color:antiquewhite"><b>Personal Details</b></h4>

        <dl class="dl-horizontal jumbotron" style="background-color:beige">

            <dt>

                @Html.DisplayNameFor(model => model.Name)

            </dt>

            <dd>
                @Html.ViewData["Name"]
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.ViewData["Gender"]
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOB)
            </dt>

            <dd>
                @Html.ViewData["DOB"]
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Weight)
            </dt>

            <dd>
                @Html.ViewData["Weight"]
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Height)
            </dt>

            <dd>
                @Html.ViewData["Height"]
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MedicalCondition)
            </dt>

            <dd>
                @Html.ViewData["MedicalCondition"]
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AllergicTo)
            </dt>

            <dd>
                @Html.ViewData["AllergicTo"]
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Goal)
            </dt>

            <dd>
                @Html.ViewData["Goal"]
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contact)
            </dt>

            <dd>
                @Html.ViewData["Contact"]
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.ViewData["Email"]
            </dd>


        </dl>
        @Html.ActionLink("Edit", "Edit", "User",new { id=Session["Id"]} ,new { @class = "btn btn-primary btn-lg" })

    </div>
    <hr />

    
    <div class="jumbotron" style="background-color:ghostwhite">
        @Html.ActionLink("View Nutrition Plans >>", "listUserAllPlans", "NutritionPlan", null, new { @class = "btn btn-primary btn-lg" })
        &nbsp;&nbsp;
        @Html.ActionLink("View Diet Plans >>", "listUserDietPlan", "DietPlan", new { User_id = id }, new { @class = "btn btn-primary btn-lg" })
        <br />
        <br />
        @Html.ActionLink("View Workout Plan >>", "Exercise", "Exercise", null, new { @class = "btn btn-primary btn-lg" })
        &nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("View Weight Log >>", "showUserWeightLog", "WeightLog", new { user_id = id }, new { @class = "btn btn-primary btn-lg" })

    </div>

}

