@model IEnumerable<Fitnesspoint.Models.NutritionPlanModel>

@{
    ViewBag.Title = "All Nutrition Plans";
    ViewBag.Title = "listUserAllPlans";
    int id = (int)Session["User_id"];
    long contact = (long)Session["Contact"];
    string name = Session["Name"].ToString();
}

<h2 style="color:antiquewhite;text-align:center">Nutrition Plans</h2>
<hr />
<table class="table jumbotron" style="background-color:antiquewhite">
    <tr>
    
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="font-weight:900">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="width:35.6%">
                @Html.DisplayFor(modelItem => item.PlanDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Purchase", "Index","Checkout",new { User_id=id,Plan_id = item.NutriPlanId,Plan_name=item.Name,Amount=item.Price,Contact=contact,Name=name},new {@class="btn btn-primary lg" })
            </td>
        </tr>
    }

</table>

