@model Fitnesspoint.Models.NutritionPlanModel

@{
    ViewBag.Title = "listPlan";
}

<h2 style="color:antiquewhite"> Plan Detail</h2>

<div class="jumbotron" style="background-color:antiquewhite">
    @*<h4>NutritionPlanModel</h4>*@
    <hr />
    @Html.HiddenFor(model => model.NutriPlanId)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanDescription)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>


