@model Fitnesspoint.Models.NutritionPlanModel

@{
    ViewBag.Title = "listPlan";
}

<h2 style="color:antiquewhite;text-align:center"> Plan Detail</h2>

<hr />

@*<h4>DietPlanModel</h4>*@


@Html.HiddenFor(model => model.NutriPlanId)
      <dl class="dl-horizontal" style="background-color:antiquewhite">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
      </dl>
        


