@model IEnumerable<Fitnesspoint.Models.NutritionPlanModel>

@{
    ViewBag.Title = "listAllPlans";
}

<h2 style="color:antiquewhite;text-align:center">All Nutrition Plans</h2>
<p>
    @Html.ActionLink("Create New Plan", "createNutritionPlan", null, new { @class = "btn btn-primary btn-lg" })
</p>

<br />
<hr />
<table class="table jumbotron" style="background-color:antiquewhite">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanDescription)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Created_At)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Updated_At)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanDescription)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Created_At)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Updated_At)
            </td>
            <td>
                @Html.ActionLink("Edit", "changePlan", new { plan_id = item.NutriPlanId }, new { @class = "btn btn-primary lg btn-warning" })
                @Html.ActionLink("Details", "listPlan", new { plan_id = item.NutriPlanId }, new { @class = "btn btn-primary lg btn-success" })
                @Html.ActionLink("Delete", "removePlan", new { plan_id = item.NutriPlanId }, new { @class = "btn btn-primary lg btn-danger" })
            </td>
        </tr>
    }

</table>
    