@model IEnumerable<Fitnesspoint.Models.NutritionPlanModel>

@{
    ViewBag.Title = "listUserAllPlans";
}

<h2 style="color:antiquewhite;text-align:center">List All Nutrition Plans</h2>
<div style="background-color:antiquewhite">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlanDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>

                    @Html.ActionLink("Details", "listPlan", new { plan_id = item.NutriPlanId })
                </td>
            </tr>
        }

    </table>
</div>