@model Fitnesspoint.Models.DietPlanModel
@{
    ViewBag.Title = "listDietPlan";
}

<h2 style="color:antiquewhite;text-align:center">Plan Detail</h2>

<hr/>

    @*<h4>DietPlanModel</h4>*@
    
    <dl class="dl-horizontal" style="background-color:antiquewhite">
        <dt>
            @Html.DisplayNameFor(model => model.Slots)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slots)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatRatio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatRatio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarbsRatio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarbsRatio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProteinRatio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProteinRatio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>

    <p style="font-size:large;font-weight:900;text-align:left">
        @Html.ActionLink("Edit", "ChangeDietPlan", new { diet_id = Model.DietId })
    </p>
     &nbsp;
    <p style="font-size:large;font-weight:900;text-align:right">

        @Html.ActionLink("List All Diet Plans", "ListUserDietPlan", new { user_id = Session["Id"] })
    </p>


