@model IEnumerable<Fitnesspoint.Models.DietPlanModel>

@{
    ViewBag.Title = "listAllDietPlans";
}

<h2 style="color:antiquewhite;text-align:center">All Diet Plans</h2>

<p>
    @Html.ActionLink("Create New Diet Plan", "createDietPlan", null, new { @class = "btn btn-primary btn-lg" })
</p>

<div style="background-color:antiquewhite">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Slots)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatRatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarbsRatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProteinRatio)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Slots)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FatRatio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarbsRatio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProteinRatio)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "changeDietPlan", new { diet_id = item.DietId }) |
                    @Html.ActionLink("Calorie Details", "showCalorieContent", new { diet_id = item.DietId }) |
                    @Html.ActionLink("Details", "listDietPlan", new { diet_id = item.DietId }) |
                    @Html.ActionLink("Delete", "removeDietPlan", new { diet_id = item.DietId })
                </td>
            </tr>
        }

    </table>
</div>

