@model Fitnesspoint.Models.DietPlanModel

@{
    ViewBag.Title = "showCalorieContent";
    if (User.Identity.IsAuthenticated)
    {
        string role = Session["Role"].ToString();
        if (role == "Admin")
        {
            Layout = "~/Views/Shared/_adminLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_userLayout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


<h2 style="color:antiquewhite;text-align:center">Calorie Content</h2>

<div style="color:antiquewhite;">
    @*<h4>DietPlanModel</h4>*@
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.TotalCalorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCalorie)
        </dd>

    </dl>
</div>

<div id="piechart">

</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    // Load google charts
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Nutrients', 'Calories'],
            ['Carbohydrates', @Model.CarbsRatio],
            ['Proteins', @Model.ProteinRatio],
            ['Fats', @Model.FatRatio]
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = { 'title': 'Total Calorie Content', 'width': 550, 'height': 400 };

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>

<p style="font-size:large;font-weight:900;text-align:right">

    @Html.ActionLink("List All Diet Plans", "ListUserDietPlan", new { user_id = Session["Id"] })
</p>


