@{
    ViewBag.Title = "Adminview";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2 style="color:mediumseagreen;font-weight:900"><u>Admin Login </u></h2>
<marquee style="color:lightgoldenrodyellow;font-size:medium">Welcome to the admin page</marquee>

<div class="jumbotron" style="background-color:antiquewhite;border:thick;border-block-color:black">
    <h2 style="font-weight:900">User Management</h2>
    <br />
    @Html.ActionLink("View all users >>", "Index", "Admin", new { @class = "btn btn-primary btn-lg" })
    &nbsp;&nbsp;&nbsp;

</div>

<div class="jumbotron" style="background-color:antiquewhite">
    <h2 style="font-weight:900">Nutrition Plan Management</h2>
    <br />
    @Html.ActionLink("View all Nutrition Plans >>", "listAllPlans", "NutritionPlan", null, new { @class = "btn btn-primary btn-lg" })
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Create a Nutrition Plan >>", "createNutritionPlan", "NutritionPlan", null, new { @class = "btn btn-primary btn-lg" })

</div>

<div class="jumbotron" style="background-color:antiquewhite">
    <h2 style="font-weight:900">Weight Log Management</h2>
    <br />
    @Html.ActionLink("View all Nutrition Plans >>", "listAllPlans", "NutritionPlan", null, new { @class = "btn btn-primary btn-lg" })
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("View all Weight Logs>>", "showAllWeightLog", "WeightLog", null, new { @class = "btn btn-primary btn-lg" })

</div>

