@model Fitnesspoint.Db.UserDetail

@{
    ViewBag.Title = "Details";
    if (User.Identity.IsAuthenticated)
    {
        string role = Session["Role"].ToString();
        if (role == "Admin")
        {
            Layout = "~/Views/Shared/_adminLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_userLayout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2 style="color:lightyellow">Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal jumbotron" style="background-color:antiquewhite">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllergicTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllergicTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diet_Plan_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diet_Plan_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Goal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

    </dl>
</div>

@Html.ActionLink("Edit", "Edit", new { id = Model.UserId }, new { @class = "btn btn-primary btn-lg" })
    &nbsp;&nbsp;&nbsp;
<p style="text-align:right;font-weight:900;font-size:large">@Html.ActionLink("Back to List", "Index")</p>



