@model Fitnesspoint.Models.UserModel

@{
    ViewBag.Title = "Register";
    bool check =Convert.ToBoolean(Session["check"]);
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$( ".btnShow" ).mousedown(function() {
  $(".pwd").attr("type","text");
});
</script>

<h2 style="color:blanchedalmond;text-align:initial">Register here!</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 required", @style = "color:antiquewhite;font-weight:900;font-size:larger" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Enter your full name", @class = "form-control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @style = "color:antiquewhite" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2 required", @style = "color:antiquewhite;font-weight:900;font-size:larger" })
            <span></span>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Gender, new SelectList(ViewBag.List), "Select", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @style = "color:antiquewhite" })
                

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2 required", @style = "color:antiquewhite;font-weight:900;font-size:larger" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @placeholder = "yyyy-mm-dd", @class = "form-control",@type="date" ,@autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @style = "color:antiquewhite" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2 required", @style = "color:antiquewhite;font-weight:900;font-size:larger" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @placeholder = "(in KG)", @class = "form-control",@autocomplete="off" } })
                @Html.ValidationMessageFor(model => model.Weight, "", new { @style = "color:antiquewhite" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label col-md-2 required", @style = "color:antiquewhite;font-weight:900;font-size:larger" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @placeholder = "(in Cm)", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Height, "", new { @style = "color:antiquewhite" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MedicalCondition, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:antiquewhite;font-weight:900;font-size:larger" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MedicalCondition, new { htmlAttributes = new { @placeholder = "Mention if any", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicalCondition, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllergicTo, "Allergic To", htmlAttributes: new { @class = "control-label col-md-2", @style = "color:antiquewhite;font-weight:900;font-size:larger" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AllergicTo, new { htmlAttributes = new { @placeholder = "Mention if any", @class = "form-control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.AllergicTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Goal, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:antiquewhite;font-weight:900;font-size:larger" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Goal, new SelectList(ViewBag.List2), "Select", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Goal, "", new { @style = "color:antiquewhite" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-2 required", @style = "color:antiquewhite;font-weight:900;font-size:larger" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @placeholder = "Enter Mobile Number", @class = "form-control", @type = "tel", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Contact, "", new { @style = "color:antiquewhite" } )
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 required", @style = "color:antiquewhite;font-weight:900;font-size:larger" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Enter Your Email", @class = "form-control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @style = "color:antiquewhite" })
                
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2 required", @style = "color:antiquewhite;font-weight:900;font-size:larger" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @placeholder = "Choose a username", @class = "form-control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @style = "color:antiquewhite" })
                
                @if (!check)
                {
                  <p style="color:antiquewhite">@ViewBag.Error</p> 
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2 required", @style = "color:antiquewhite;font-weight:900;font-size:larger" })


            <div class="col-md-10">

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "Choose a password", @class = "form-control pwd", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color:antiquewhite" })
                

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                &nbsp
                &nbsp
                &nbsp
                &nbsp
                &nbsp
                &nbsp
                &nbsp
                &nbsp
                &nbsp
                &nbsp

                <input type="submit" value="Sign Up>>" class="btn btn-primary btn-lg" style="color:black;align-self:center" />
                
                <br />
                <br />
                <p style="color:antiquewhite;font-size:larger">
                    <b>Already a member?</b>

                    @Html.ActionLink("Click to Login", "Login", "Account", null, new { @style = "color:aquamarine;font-size:larger" })
                </p>
            </div>
        </div>
    </div>


}

